<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inner Core IDE</title>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Open+Sans|Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/index/index.css">
</head>
<body>
  <script src="../public/index/index.js"></script>

  <div id="nabvar">
    <div id="close"><span></span></div>
  </div>

  <div id="app">
    <h1 class="lang" data-lang="application-name"></h1>

    <div id="menu">

      <div id="project">
        <h2 class="lang" data-lang="list-projects"></h2>
        <div id="project-list">
        </div>
      </div>

      <div id="project-create">
        <h2 class="lang" data-lang="new-projects"></h2>
        <div id="create">
          <div class="label lang" data-lang="projects-name"></div>
          <input type="text" name="" id="projects-name">
          <div class="label lang" data-lang="projects-dir"></div>
          <input type="text" name="" id="projects-dir">
          <div class="label lang" data-lang="projects-username"></div>
          <input type="text" name="" id="projects-username">
          <div class="label lang" data-lang="projects-description"></div>
          <input type="text" name="" id="projects-description">
          <div id="bottom">
            <button class="lang" data-lang="create-button" id="create-button"></button data-lang="list-projects">
          </div>
      </div>
    </div>



  </div>

</body>
</html>